<div id="gif-search" class="gif-hidden">
    <ul class="gif-search-tab">
        <li id="tenor-tab" class="ui-control">Tenor</li>
        <li id="klipy-tab" class="ui-control">KLIPY</li>
        <li id="giphy-tab" class="active ui-control">Giphy</li>
    </ul>
    <div class="gif-search-section">
        <input id="gif-search-input" autocomplete="off">
        <img class="attribution">
        <div id="gif-search-scroll">
            <div id="gif-search-results"></div>
        </div>
    </div>
</div>